# Settings
.vs
.vscode

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json

# Build output
Testing
build
*.sln
*vcxproj
*vcxproj.filters

_deps